<h1>All Restaurants</h1>
<% @restaurants.each do |restaurant| %>
	<div class='m-1'>
		<p><%= link_to restaurant.name, restaurant_path(restaurant)%></p>
	</div>
<% end %>


<%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary mt-1"%>

